<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>

<script type="text/javascript" charset="utf-8">
var marker;

function success(position){
	var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
	Gmaps4Rails.map.panTo(latlng);
	//Gmaps4Rails.map.setZoom(14);
	marker = new google.maps.Marker({
      position: latlng,
      map: Gmaps4Rails.map,
      title:"You are here!"
  	});
  	Gmaps4Rails.map.setZoom(4);

	  google.maps.event.addListener(marker, 'click', function(object){
		infoCallback(marker);
	  });

	//google.maps.event.addListener(marker, 'click', infoCallback(Gmaps4Rails.map, infowindow, marker));
}

function gmaps4rails_callback() {
	locate();	
}

function infoCallback(marker) {
	var infowindow = new google.maps.InfoWindow({
		content : "<div style='text-align: center; color: #000;'><h3 style='margin: 0'>" 
			+ "Something" + "</h3><h4 style='margin: 0'>" + "Some address" + "</h4>" 
			+ "Some description" + "</div>"
	});
	// alert(infowindow.getContent());
	infowindow.open(Gmaps4Rails.map, marker);
}
function locate(){
 	if (navigator.geolocation) {
  		navigator.geolocation.getCurrentPosition(success);
   	}
}

function createMarker(lat, lng, eventName, eventDesc) {
	
}

</script>

<div id = "site_header">
	<div id = "site_logo">
		<%= image_tag('lightlogo.png', :height => '109px', :width => '278px') %>
	</div>
	<div id = "site_tag">
		<%= image_tag('lighteventsforchange.png', :height => '52px', :width => '373px') %>
	</div>
	<div id = "fbButton">
		<%= link_to image_tag('post_img_2.png', :height => '27px', :width => '131px')%>
	</div>
</div>
<div id = "gmap_padding_box">
	<div id = "gmap">
	<%= gmaps({
	  "map_options" => {"auto_adjust" => false, "zoom" => 2, "type" => "ROADMAP" },
	  "markers"     => {"data" => @json }
	 })
	%>
	</div>
</div>
<div class = "clear_div"> </div>
<div id = "site_footer">
	<div id = "ftc_logo"><%= image_tag('WeDay.png', :height => '64px', :width => '90px') %></div>
	<div id = "ftc_text"><%= image_tag('ftc.png', :height => '34px', :width => '193px') %></div>
</div>
